.container-fluid
  .page-titles
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "javascript:void(0)"} Table
      %li.breadcrumb-item.active
        %a{:href => "javascript:void(0)"} Datatable
  .row
    .col-12
      .card
        .card-header
          %h4.card-title Profile Datatable
        .card-body
          .table-responsive
            %table#example3.display.min-w850
              %thead
                %tr
                  %th
                  %th Name
                  %th Department
                  %th Gender
                  %th Education
                  %th Mobile
                  %th Email
                  %th Joining Date
                  %th Action
              %tbody
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic1.jpg') }}", :width => "35"}/
                  %td Tiger Nixon
                  %td Architect
                  %td Male
                  %td M.COM., P.H.D.
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 123 456 7890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2011/04/25
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic2.jpg') }}", :width => "35"}/
                  %td Garrett Winters
                  %td Accountant
                  %td Female
                  %td M.COM., P.H.D.
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 987 654 3210
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2011/07/25
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic3.jpg') }}", :width => "35"}/
                  %td Ashton Cox
                  %td Junior Technical
                  %td Male
                  %td B.COM., M.COM.
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2009/01/12
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic4.jpg') }}", :width => "35"}/
                  %td Cedric Kelly
                  %td Developer
                  %td Male
                  %td B.COM., M.COM.
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 123 456 7890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2012/03/29
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic5.jpg') }}", :width => "35"}/
                  %td Airi Satou
                  %td Accountant
                  %td Female
                  %td B.A, B.C.A
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 987 654 3210
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2008/11/28
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic6.jpg') }}", :width => "35"}/
                  %td Brielle Williamson
                  %td Specialist
                  %td Male
                  %td B.COM., M.COM.
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 123 456 7890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2012/12/02
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic7.jpg') }}", :width => "35"}/
                  %td Herrod Chandler
                  %td Sales Assistant
                  %td Female
                  %td B.A, B.C.A
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 987 654 3210
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2012/08/06
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic8.jpg') }}", :width => "35"}/
                  %td Rhona Davidson
                  %td Integration
                  %td Male
                  %td B.TACH, M.TACH
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2010/10/14
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic9.jpg') }}", :width => "35"}/
                  %td Colleen Hurst
                  %td Javascript Developer
                  %td Female
                  %td B.A, B.C.A
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2009/09/15
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic10.jpg') }}", :width => "35"}/
                  %td Sonya Frost
                  %td Software Engineer
                  %td Male
                  %td B.COM., M.COM.
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 123 456 7890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2008/12/13
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic1.jpg') }}", :width => "35"}/
                  %td Jena Gaines
                  %td Office Manager
                  %td Female
                  %td B.TACH, M.TACH
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 987 654 3210
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2008/12/19
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic2.jpg') }}", :width => "35"}/
                  %td Quinn Flynn
                  %td Support Lead
                  %td Male
                  %td B.TACH, M.TACH
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2013/03/03
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic3.jpg') }}", :width => "35"}/
                  %td Charde Marshall
                  %td Regional Director
                  %td Female
                  %td B.A, B.C.A
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 123 456 7890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2008/10/16
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic4.jpg') }}", :width => "35"}/
                  %td Haley Kennedy
                  %td Senior Marketing
                  %td Male
                  %td B.COM., M.COM.
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 987 654 3210
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2012/12/18
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic5.jpg') }}", :width => "35"}/
                  %td Tatyana Fitzpatrick
                  %td Regional Director
                  %td Male
                  %td B.TACH, M.TACH
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2010/03/17
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic6.jpg') }}", :width => "35"}/
                  %td Michael Silva
                  %td Marketing Designer
                  %td Female
                  %td B.A, B.C.A
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 123 456 7890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2012/11/27
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic7.jpg') }}", :width => "35"}/
                  %td Paul Byrd
                  %td Financial Officer
                  %td Male
                  %td B.TACH, M.TACH
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 987 654 3210
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2010/06/09
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic8.jpg') }}", :width => "35"}/
                  %td Gloria Little
                  %td Systems Administrator
                  %td Female
                  %td B.A, B.C.A
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2009/04/10
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic9.jpg') }}", :width => "35"}/
                  %td Bradley Greer
                  %td Software Engineer
                  %td Male
                  %td B.COM., M.COM.
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2012/10/13
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic10.jpg') }}", :width => "35"}/
                  %td Dai Rios
                  %td Personnel Lead
                  %td Male
                  %td B.TACH, M.TACH
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 123 456 7890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2012/09/26
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic1.jpg') }}", :width => "35"}/
                  %td Jenette Caldwell
                  %td Development Lead
                  %td Female
                  %td B.A, B.C.A
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 987 654 3210
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2011/09/03
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic2.jpg') }}", :width => "35"}/
                  %td Yuri Berry
                  %td Marketing Officer
                  %td Male
                  %td B.TACH, M.TACH
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2009/06/25
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic3.jpg') }}", :width => "35"}/
                  %td Caesar Vance
                  %td Pre-Sales Support
                  %td Male
                  %td B.TACH, M.TACH
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2011/12/12
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic4.jpg') }}", :width => "35"}/
                  %td Doris Wilder
                  %td Sales Assistant
                  %td Female
                  %td B.A, B.C.A
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 123 456 7890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2010/09/20
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic5.jpg') }}", :width => "35"}/
                  %td Angelica Ramos
                  %td Executive Officer
                  %td Male
                  %td B.COM., M.COM.
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 987 654 3210
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2009/10/09
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic6.jpg') }}", :width => "35"}/
                  %td Gavin Joyce
                  %td Developer
                  %td Female
                  %td B.TACH, M.TACH
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2010/12/22
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic7.jpg') }}", :width => "35"}/
                  %td Jennifer Chang
                  %td Regional Director
                  %td Male
                  %td B.A, B.C.A
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2010/11/14
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic8.jpg') }}", :width => "35"}/
                  %td Brenden Wagner
                  %td Software Engineer
                  %td Female
                  %td B.TACH, M.TACH
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 123 456 7890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2011/06/07
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic9.jpg') }}", :width => "35"}/
                  %td Fiona Green
                  %td Operating Officer
                  %td Male
                  %td B.A, B.C.A
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong 987 654 3210
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2010/03/11
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
                %tr
                  %td
                    %img.rounded-circle{:alt => "", :src => "{{ asset('images/profile/small/pic10.jpg') }}", :width => "35"}/
                  %td Shou Itou
                  %td Regional Marketing
                  %td Female
                  %td B.COM., M.COM.
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong (123) 4567 890
                  %td
                    %a{:href => "javascript:void(0);"}
                      %strong info@example.com
                  %td 2011/08/14
                  %td
                    .d-flex
                      %a.btn.btn-warning.shadow.btn-xs.sharp.mr-1{:href => "#"}
                        %i.fa.fa-pencil
                      %a.btn.btn-danger.shadow.btn-xs.sharp{:href => "#"}
                        %i.fa.fa-trash
