/ =render "dashboard/auth/registration"
/ =render "dashboard/auth/login"
/ =render "dashboard/auth/forget_password"
/ =render "dashboard/calendar"
/ =render "dashboard/content_hub"
/ =render "dashboard/dashboard"
/ =render "dashboard/members"
/ =render "dashboard/my_course"
/ =render "dashboard/checkout/checkout"
/ =render "dashboard/inbox/compose_email"
/ =render "dashboard/inbox/message_inbox"

=render "dashboard/course_detail"
