/
  **********************************
  Footer start
  ***********************************
.footer
  .copyright
    %p
      Copyright © Latern 2023
/
  **********************************
  Footer end
  ***********************************
