- if resource.errors.any?
  %div#my-alert
    - resource.errors.full_messages.each do |message|
      .alert.alert-danger.alert-dismissible.fade.show.m-1{:role => "alert"}
        = message
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
