.container.h-100
  .row.justify-content-center.h-100.align-items-center
    .col-md-6
      .authincation-content
        .row.no-gutters
          .col-xl-12
            .auth-form
              .text-center.mb-3
                %a{:href => "index.html"}
                  %img{:alt => "", :src => "images/logo-full.png"}/
              %h4.text-center.mb-4.text-white Forgot Password
              %form{:action => "index.html"}
                .form-group
                  %label.text-white
                    %strong Email
                  %input.form-control{:type => "email", :value => "hello@example.com"}/
                .text-center
                  %button.btn.bg-white.text-warning.btn-block{:type => "submit"} SUBMIT
