.row
  .col-lg-12
    .card
      .card-header
        %h4.card-title Privacy Policy
      .card-body
        %p
          We're not watching you 🙂
        %p
          At Lantern, we believe that any browsing information you share should be freely (and enthusiastically) given.
        %p
          If you choose to share your data with us, we will use it anonymously and collect the following data. What we do collect does not individually identify you in any way.
        %p
          We believe in transparency and this is what we may view :
          %ul.mx-4
            %li{style: "list-style: disc;"} Location
            %li{style: "list-style: disc;"} Device
            %li{style: "list-style: disc;"} Software
            %li{style: "list-style: disc;"} Pages you view
            %li{style: "list-style: disc;"} Clicks
        %p
          Sharing data helps us improve the site and our community. If you want to know more about data privacy, please email us at admin@lanternapp.com

        / .table-responsive
        /   %table.table.table-bordered.table-striped
        /     %thead
        /       %tr
        /         %th
        /         %th.text-center.text-dark
        /           Extra small
        /           %br/
        /           %small.text-muted <576px
        /         %th.text-center.text-dark
        /           Small
        /           %br/
        /           %small.text-muted ≥576px
        /         %th.text-center.text-dark
        /           Medium
        /           %br/
        /           %small.text-muted ≥768px
        /         %th.text-center.text-dark
        /           Large
        /           %br/
        /           %small.text-muted ≥992px
        /         %th.text-center.text-dark
        /           Extra large
        /           %br/
        /           %small.text-muted ≥1200px
        /     %tbody
        /       %tr
        /         %th.text-nowrap.text-dark{:scope => "row"} Max container width
        /         %td None (auto)
        /         %td 540px
        /         %td 720px
        /         %td 960px
        /         %td 1140px
        /       %tr
        /         %th.text-nowrap.text-dark{:scope => "row"} Class prefix
        /         %td
        /           %code .col-
        /         %td
        /           %code .col-sm-
        /         %td
        /           %code .col-md-
        /         %td
        /           %code .col-lg-
        /         %td
        /           %code .col-xl-
        /       %tr
        /         %th.text-nowrap.text-dark{:scope => "row"} # of columns
        /         %td{:colspan => "5"} 12
        /       %tr
        /         %th.text-nowrap.text-dark{:scope => "row"} Gutter width
        /         %td{:colspan => "5"} 24px (12px on each side of a column)
        /       %tr
        /         %th.text-nowrap.text-dark{:scope => "row"} Nestable
        /         %td{:colspan => "5"} Yes
        /       %tr
        /         %th.text-nowrap.text-dark{:scope => "row"} Column ordering
        /         %td{:colspan => "5"} Yes
