.col-md-4.m-auto
  .authincation-content.mt-5.mb-3
    .row.no-gutters{ style: "margin-top:20rem; margin-bottom:6rem;" }
      .col-xl-12
        .auth-form
          %h1.text-center.mb-4.mt-4.text-white Thank you!
          %h2.text-center.mb-4.mt-4.text-white You're all set.
