!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body{:style => "margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f1f1f1; margin: 0 auto !important; padding: 0 !important; height: 100% !important; width: 100% !important; background: #f1f1f1;", :width => "100%"}
    %center{:style => "width: 100%; background-color: #f1f1f1;"}
      = yield
